{% extends 'shop/base.html' %}
{% block body%}
<div class="row justify-content-end">
            <form class="col-md-12">
                <div class="card card-sm">
                    <div class="card-body row no gutters align-items-center">
                        <div class="col">
                            <input type="search" name='item_name' placeholder="search product">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" alt="card-img-top">
                    <div class="card-body">
                        <div class="card-title" id="nm{{product.id}}" >{{product.title}}</div>
                        <div id="price{{product.id}}" class="card-text">{{product.price}}
                        </div>
                        <a href="{{product.id}}" class="btn btn-warning">View</a>
                        <button id="{{product.id}}" class="btn atc btn-warning">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>
                    {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
<script type="text/javascript">
   // console.log('This is Working');
    if(localStorage.getItem('cart')==null){
        var cart={};
    }
    else{
        cart=JSON.parse(localStorage.getItem('cart'));
    }
    $(document).on('click','.atc',function(){
        var item_id=this.id.toString();
        if(cart[item_id]!=undefined){
            quantity=cart[item_id][0]+1;
            cart[item_id][0]=quantity;
            cart[item_id][2]=cart[item_id][2]+parseFloat(document.getElementById("price"+item_id).innerHTML);
        }
        else{
            quantity=1;
            preice=parseFloat(document.getElementById("price"+item_id).innerHTML);
            name=document.getElementById("nm"+item_id).innerHTML;
            cart[item_id]=[quantity,name,preice];
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        var v=document.getElementById("cart");
        v.innerHTML="Cart("+Object.keys(cart).length+")";
    });

//     $(function () {
//   $('[data-toggle="popover"]').popover();
//   document.getElementById("cart").setAttribute('data-content','<h5>This is your cart</h5>');
// });
    DisplayCart(cart);
    function DisplayCart(cart){
        carString="";
        var carIndx=1;
        let cartobject=JSON.parse(localStorage.getItem('cart'))
        for(var x in cartobject){
            carString+=carIndx+":";
            //carString+=document.getElementById("nm"+x).innerHTML+", Qty:"+cart[x][0]+"</br>";
            carString+=cartobject[x][1]+" Qty:"+cartobject[x][0]+"</br>";
            carIndx+=1;
        }
       carString+="<a href='/checkout'><button class='btn btn-warning' id='checkout'>Check Out</button></a>";
       document.getElementById("cart").setAttribute('data-content',carString); 
       $('[data-toggle="popover"]').popover();
    }
</script>
{% endblock %}