<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderPlaced</title>
</head>
<style>
    h3{
        color: green;
    }
    a{
        text-decoration: none;
    }
    #message{
        margin-left: 40%;
    }
</style>
<body>
    <div id="message">
        <h3>Your order has been placed........</h3>
        <h3>go to home page <a href="/">Home</a></h3>
    </div>

</body>
</html>